.tasks-list {
  display: flex;
  flex-direction: column;

  &__heading {
    @include heading;
  }

  .search-input {
    width: 100%;
    height: 40px;
    border: 2px solid var(--color-black);
    margin-right: 10px;
    padding: 0px 10px;
    outline: none;
    margin-block: 0px 20px;
  }

  &__task {
    height: 40px;
    border: 2px solid var(--color-black);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;

    &__name-editor {
      height: 36px;
      outline: none;
      border: none;
      width: 100%;
      font-size: 16px;
    }

    &--empty {
      border-color: red;
    }

    &__name {
      margin-left: 10px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &--completed {
        text-decoration: line-through;
      }
    }

    &__left {
      display: flex;
      align-items: center;
      width: 75%;
    }

    &__right {
      .submit-btn {
        height: 24px;
        cursor: pointer;
        font-weight: 500;
        padding: 0 7.5px;
        background-color: var(--color-black);
        color: var(--color-white);
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;

        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }

        svg {
          margin: 0;
        }

        path {
          color: var(--color-white);
        }
      }
    }

    .check-icon {
      transform: scale(1.5);
    }

    &__action-icons {
      display: flex;
      align-items: center;
      opacity: 0;
      transform: translateX(10px);
      transition: all 0.3s ease-in-out;

      svg {
        width: 16px;
        height: 16px;
        cursor: pointer;

        &:last-child {
          margin-left: 10px;
          font-size: 20px;
        }
      }
    }

    &:hover {
      .tasks-list__task__action-icons {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}
