@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;700&family=Unbounded:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: var(--color-black);
}

:root {
  --color-primary: #4fd1c5;
  --color-dark: #2d3748;
  --color-light: #a0aec0;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #e2e8f0;
  --color-background: #f8f9fa;
  --color-red: #e53e3e;
  --color-green: #48bb78;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
body {
  margin: 0;
  padding: 0;
  max-width: none;
  font-family: Helvetica;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@import "./mixins";
@import "./homepage";
@import "./settings";
@import "./toggleSwitch";
@import "./navbar";
@import "./tasksList";
@import "./createTask";
@import "./checkbox";
@import "./signin";
